/*
 * Disable odd/even coloring for docutils tables if it's a coverage table.
 * Otherwise, the 'nth-child' rule will always override row colors indicating the coverage level.
 */
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
	background-color: unset;
}

/*
 * Coloring for 0..30, 30..50, 50..80, 80..90, 90.100% coverage
 */
/* very good */
.report-cov-below100 {
	background: hsl(120 75% 75%);
}
/* good */
.report-cov-below95 {
	background: hsl(90 75% 75%);
}
.report-cov-below90 {
	background: hsl(75 75% 75%);
}
.report-cov-below85 {
	background: hsl(60 75% 75%);
}
/* modest */
.report-cov-below80 {
	background: hsl(45 75% 75%);
}
.report-cov-below70 {
	background: hsl(30 75% 75%);
}
.report-cov-below60 {
	background: hsl(15 75% 75%);
}
/* bad */
.report-cov-below50 {
	background: hsl(0 75% 75%);
}
.report-cov-below40 {
	background: hsl(285 75% 75%);
}
/* very bad */
.report-cov-below30 {
	background: hsl(270 75% 75%);
}
.report-cov-below20 {
	background: hsl(255 75% 75%);
}
.report-cov-below10 {
	background: hsl(240 75% 75%);
}
/* internal error */
.report-cov-error{
	background: rgba(255, 0, 0, .4);
}

.report-dep-summary-row {
	font-weight: bold;
}
.report-codecov-summary-row {
	font-weight: bold;
}
.report-doccov-summary-row {
	font-weight: bold;
}
.report-unittest-summary-row {
	font-weight: bold;
}
